{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<h1 style="font-family: avenir;
        color: #1DB954;
        font-size: 35px;
        font-weight: bold;">Leaderboard</h1>

<br>

<table style="margin-left: auto; margin-right: auto; font-family: avenir; width: 80%">
    <thead>
        <tr style="background-color:#1DB954; color: white; font-size: 20px">
            <th >Artist</th>
            <th>Title</th>
            <th >Total Points</th>
        </tr>
    </thead>
    <tbody>
        {% for row in aggregated %}
        <tr style="font-size: 18px;">
            <td>{{ row.artist }}</td>
            <td>{{ row.song }}</td>
            <td>{{ row.totalpoints }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
