{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<form action="/post" method="POST">
        <h1 style="font-family: avenir;
        color: #1DB954;
        font-size: 35px;
        font-weight: bold;">Make a Post</h1>
    <div class='container'>
        <div class='row' style="justify-content: center; gap: 12px">
          <div class='column'>
            <input type="text" name="image" placeholder="input image url: " style="width:49.5%; border-radius: 8px; border-width: 1px">
            <input type="text" name="caption" placeholder="write a caption... " style="width:49.5%; border-radius: 8px; border-width: 1px">
        </div>
        <div class="row">
            <input type="text" name="song" placeholder="Song title: " style=" border-radius: 8px; border-width: 1px">
        </div>
        <div class="row">
            <input type="text" name="artist" placeholder="Artist: " style="border-radius: 8px; border-width: 1px">
        </div>
        <div class="row">
            <select name="rating" id="rating" style="border-radius:8px">
                <option value="" disabled selected hidden >Song Rating:</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="row">
            <select name="genre" id="genre" style="border-radius:8px">
                <option value="" disabled selected hidden>Genre:</option>
                <option value="EDM">EDM</option>
                <option value="Pop">Pop</option>
                <option value="R&B">R&B</option>
                <option value="Indie">Indie</option>
                <option value="Country">Country</option>
                <option value="Jazz">Jazz</option>
                <option value="Indie">Indie</option>
            </select>
        </div>
        <div class="row" style="justify-content:right">
            <button style="float: right; background-color: #1DB954; border-color: #1DB954" type="submit" value="submit" >Publish</button>
        </div>
    </div>
</div>




</form>

{% endblock %}
